---
import Layout from '@/layouts/Layout.astro';
import { Editor } from '@/components/Editor';
import { api } from '@/lib/api';
import type { Newsletter } from '@/lib/types';

const { slug } = Astro.params;
let {
  id,
  content,
  blocks,
  isPublished,
  updatedAt,
  createdAt,
}: Partial<Newsletter> = {};

try {
  const res: Newsletter = await api.get(`/newsletter/${slug}`);

  id = res.id;
  content = res.content;
  blocks = res.blocks;
  isPublished = res.isPublished;
  updatedAt = res.updatedAt;
  createdAt = res.createdAt;
} catch (error) {
  return new Response(null, { status: 404 });
}
---

<Layout
  title={slug!
    .split('-')
    .map((word) => word.charAt(0).toUpperCase() + word.slice(1))
    .join(' ')}
  }
>
  <main class="max-w-screen-md px-4 mb-24 object-center m-auto text-center">
    <Editor
      id={id}
      content={content}
      blocks={blocks}
      isPublished={isPublished}
      updatedAt={updatedAt}
      createdAt={createdAt}
      slug={slug}
      client:only
    />
  </main>
</Layout>
